/*-----------Transiciones-----------*/

.tran1{
    width: 100%;
    display: grid;
    place-items: center;
    transition: all 2s ease;
    &:hover{
        width: 50%;
        background-color: violet;
        color: white;
    }
}